<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :user, label_method: :email %>
    <%= f.association :restaurant, label_method: :name %>
    <%= f.association :items, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success btn-sm" %>
  </div>
<% end %>
