
<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @menu.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @menu.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @menu.user.email %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>

<p>
<strong>Menu Items:</strong>
<ul> 
   <%- @menu.items.each do |item| %>
       <li><%= item.name %></li>
   <% end %> 
</ul>
</p>

<%= link_to 'Edit', edit_menu_path(@menu), class: "btn btn-default" %> |
<%= link_to 'Back', menus_path, class: "btn btn-default" %>
