<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @item.photo %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @item.restaurant.name %>
</p>



<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-default" %> |
<%= link_to 'Back', items_path, class: "btn btn-default" %>
